/*
    Style information for things Joomla seems to do differently.
    In WordPress, we're inheriting a bunch of styles for the mini-
    calendar that are not present in Joomla

    Also, the styling of form elements is subtly different and
    we want to adjust that for the add event page.
*/
table.CDCalendar,
table.CDCalendar td,
table.cd-calendar {
    border: 1px solid #d8d8d8;
    border-collapse: collapse;
}
table.CDCalendar caption {
    margin-bottom: 6px;
}
table.cd-calendar caption {
    font-size: 12pt;
}

table.cd-calendar td {
    padding: 5px;
    font-size: 10pt;
    text-align: right;
    border: 1px solid #d8d8d8;
}
table.cd-calendar th {
    font-size: 10pt;
    font-weight: bold;
}
table.cd-calendar td#next, 
table.cd-calendar td#prev {
    font-size: 16pt;
    font-weight: bold;
}

table.cd-calendar td a {
    cursor: pointer;
}

#idCDAddEventForm dt {
    padding-top: 1em;
}
#idCDAddEventForm dd {
    padding-top: 0.5em;
}
#idCDAddEventForm dt label {
    font-weight: bold;
}

#idCDAddEventForm input[type='text'],
#idCDAddEventForm input[type='url'],
#idCDAddEventForm textarea {
    width: 100%;
}
#idCDAddEventForm select {
    width: auto;
}
/*
    Joomla's default legend style messes this up pretty badly.
    Set things back.
*/
.CDFilter legend {
        font-size: 1.25em;
        width: auto;
        border: none;
        margin-bottom: 0px;
        padding-left: 0.5em;
        padding-right: 0.5em;
}

.modal-body.CDDisplayAlways {
    overflow-y: auto;
}

#idCDAddEventForm label input[type='radio'],
#idCDAddEventForm label input[type='checkbox'] {
        margin-right: 0.8em;
}
